@media(max-width: 600px){
  .header-lg{
    display: none;
  }
/* ------------------------ */

  .nav{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 上からスライド */
    transition: top 0.5s;
  }
  .nav ul{
    list-style:none;
    font-size: 24px;
  }

  .nav li:hover{
    text-decoration: underline;
  }

  .nav li:not(:last-child){
    margin-bottom: 30px;
  }
  .nav a{
    color: black;
  }

  /* ------------------------ */


  .about-contents{
    display: block;
    text-align: center;
  }

  .about-contents img{
    padding-left: 30px;
  }

  .mainText{
    text-align: left;
  }

  .skills-contents{
    display: block;
  }

  .skills-item{
    width: 100%;
  }

  .item-name02{
    padding-top: 100px;
  }

}

@media(min-width:601px){
  .header-sm{
    display: none;
  }
}