
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body{
  margin:0;
}

/* START */

body {
  text-size-adjust: 100%;
  overflow-x: hidden;
  color: #333;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 14px;
  background-color: white;
}

a{
  text-decoration: none;
  color:#333
}

ul{
  list-style: none;
}

/* header-lg   -------------------- */

.header-lg{
  padding-top: 100px;
}

.header-lg-conteiner{
  width: 75%;
  margin: 0 auto;
}

.header-lg-menu{
  display: flex;
}

.header-left{
  font-size: 32px;
  letter-spacing: 2px;
  padding-left: 20px;
}

.header-lg-nav ul{
  display: flex;
  justify-content:flex-end;
  padding: 10px 10px;
}

.header-lg-nav li{
  font-size: 16px;
  padding: 0 15px;
  letter-spacing: 1px;
}

.header-lg-nav li:hover{
  text-decoration: underline;
}

.title-lg{
  font-size: 24px;
}


/* header-sm   --------------------  */

.header-sm{
  display: flex;
  height: 60px;
  width: 100%;
  padding-bottom: 25px;
  position: fixed;
  opacity: 0.95;
  background-color: white;
  z-index: 200;
}

.title-sm{
  position: relative;
  font-size: 24px;
  padding-top: 30px;
  padding-left: 20px;
  width: 80%;
  z-index: 2000;
  background-color: white;

}

#navbtn{
  position: absolute;
  top: 30px;
  right: 15px;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

#navbtn::before,#navbtn::after{
  content : '';
  display: block;
  height: 1px;
  background-color: #333333;
  transform: translateY(10px);
  transition: 0.3s ease-in-out;
}

#navbtn::before{
  transform: translateY(-10px);
  box-shadow: 0 10px #333333;
}

/* ナビゲーションボタン（閉じる） */
.open #navbtn{
  z-index: 2000;
}
.open #navbtn::before{
  transform: rotate(-45deg);
  background-color: black;
  box-shadow: none;
}
.open #navbtn::after{
  transform: rotate(45deg);
  background-color: black;
  box-shadow: none;
}
/* ナビゲーションメニュー 開いた時*/
.open .nav{
  top: 60px;
}


/* TOP    -------------------- */

.top{
  margin:0 auto;
}

.top-image{
  padding-top: 100px;
  margin: 0 auto;
  width: 90%;

}

.top img{
  width:100%;
}

.about-wrapper{
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 1px solid #333;
}

.heading{
  text-align: center;
  font-size: 36px;
  padding-bottom: 100px;
  font-weight: 200;
  letter-spacing: 4px;
  
}

.about-contents{
  display:flex;
}

.about-contents img{
  width: 250px;
  height: 250px;
  margin-right: 25px;
}

.about-text{
  padding-top: 25px;
  font-size: 18px;
}

.mainText{
  font-size: 14px;
  padding-top: 40px;
  line-height: 20px;
}

.skills-wrapper{
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 100px;
  border-bottom: 1px solid #333;
  width: 80%;
}

.skills-contents{
  display: flex;
  text-align: center;
}

.skills-item{
  width: 100%;
}

.skills-wrapper h2{
  font-size: 25px;
  padding-bottom: 10px;
}

.item-subName{
  padding-bottom: 20px;
  font-weight: 1;
  opacity: 0.6;
}

.skillText{
  width: 80%;
  text-align: left;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  padding-top: 20px;

}

.works-wrapper{
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 100px;
  border-bottom: 1px solid #333;
  width: 80%;
}

.works-wrapper .heading{
  padding-bottom: 20px;
}

.works-wrapper p{
  text-align: center;
  font-size: 20px;
}

.works-contents h2{
  margin:50px 0 10px 0;
  vertical-align: bottom;
}

.works-contents img{
  width: 80%;
  margin: 2% 2%;
  border: 1px solid slategrey;
}

.works-contents p{
  font-size: 16px;
}

.works-contents h2{
  padding-top: 30px;
  font-weight: 1;
  opacity: 0.6;
}

.web-works{
  width: 80%;
  margin: 0 auto;
}

.web-works img{
  width: 80%;
  margin: 0 auto;
}

.web-works p{
  padding-top: 10px;
}

.game-works{
  width: 80%;
  margin: 0 auto;
}

.game-works img{
  width: 80%;
  margin: 0 auto;
}

.game-works p{
  padding-top: 10px;
}

.works-contents img:hover{
  opacity: 0.6;
}

.works-contents{
  text-align: center;
}

.works-contents{
  margin: 0 auto;
}

/*ーーーーーーーーーーーーーー  */
.contact-wrapper{
  padding-top: 50px;
  margin: 0 auto; 
  padding-bottom: 100px;
  width: 80%;
}

.contact-container{
  margin: 0 auto;
}

.input-form {
  margin:0 auto;
  width: 50%;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}


.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}


.button{
  display: block;
  width: 100px;
  padding: 0.5em;
  text-align: center;
  background-color: white;
  margin: 0.5em auto;
  line-height: 1.5;
  font-size: 16px;
  opacity: 0.8;
  border-radius: 4px;
  outline: none;
}

footer{
  width: 100%;
  text-align: left;
  background-color: whitesmoke;
}

.footer-menu-lg ul{
  display: flex;
}

.footer-menu-lg li{
  padding: 20px 25px;
  letter-spacing: 2px;
  font-size: 16px;
}

.footer-menu-lg li:hover{
  text-decoration: underline;
}

.footer-menu-sm ul{
  display: flex;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.footer-menu-sm li{
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  letter-spacing: 1px;
  font-size: 10px;
}

.footer-menu-sm li:hover{
  text-decoration: underline;
}